In [20]:
import numpy as np
import pandas as pd
import json,os
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import h2o
from h2o.automl import H2OAutoML
from h2o.estimators import H2OGradientBoostingEstimator
from h2o.estimators import H2OSupportVectorMachineEstimator
from h2o.estimators import H2ODeepLearningEstimator
from h2o.estimators import H2OSupportVectorMachineEstimator
from h2o.estimators import H2OXGBoostEstimator
from h2o.estimators import H2ONaiveBayesEstimator
from h2o.estimators import H2ODeepLearningEstimator
from h2o.estimators import H2OGeneralizedLinearEstimator
from h2o.estimators import H2ORandomForestEstimator

In [21]:
h2o.init(ip="localhost",port=54321)
m_models = {
    "bayes":H2ONaiveBayesEstimator(),
    "glm":H2OGeneralizedLinearEstimator(nfolds = 4),
    "rf":H2ORandomForestEstimator(nfolds = 4),
    "gbm":H2OGradientBoostingEstimator(nfolds=4),
    #"svm":H2OSupportVectorMachineEstimator(),
    "xgboost":H2OXGBoostEstimator(nfolds=4),
    "ann":H2ODeepLearningEstimator(nfolds=4)
}

def Train(df_all):
    df_h2o = h2o.H2OFrame(df_all)
    df_train, df_valid = df_h2o.split_frame(ratios=[0.85], seed=1234)
    x = df_train.columns
    y = "label"
    x.remove(y)
    df_train[y] = df_train[y].asfactor()
    df_valid[y] = df_valid[y].asfactor()
    for key in m_models:
        print("begin train ",key)
        m_models[key].train(x=x, y=y,training_frame=df_train,validation_frame=df_valid)
        print("end train ",key)

Checking whether there is an H2O instance running at http://localhost:54321 . connected.
Warning: Your H2O cluster version is too old (7 months and 2 days)!Please download and install the latest version from http://h2o.ai/download/

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         35 days 7 hours 14 mins
H2O_cluster_timezone:       Asia/Shanghai
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.3
H2O_cluster_version_age:    7 months and 2 days !!!
H2O_cluster_name:           root
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    23.17 Gb
H2O_cluster_total_cores:    20
H2O_cluster_allowed_cores:  20
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.10 final
--------------------------  ------------------------------------------------------------------

In [17]:
df_raw = pd.read_csv('./all.csv')
df_raw

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,5555.0,1.0,1.0,0.0,799.000000,0.0,799.0,0.0,799.0,...,0.000000,0.0,0.0,0.0,0.000000,S14,T4,120.86.239.99,2021.10.28 19:50:41,103.40.13.205
1,1,6379.0,54.0,26.0,28.0,490.592593,0.0,5.0,0.0,19902.0,...,0.301887,15.0,0.0,0.0,4.173015,S4,T2,111.229.81.162,2021.10.28 18:04:32,103.40.13.205
2,1,6379.0,54.0,26.0,28.0,490.592593,0.0,5.0,0.0,19902.0,...,0.301887,15.0,0.0,0.0,4.173015,S4,T2,111.229.81.162,2021.10.28 18:04:32,103.40.13.205
3,1,6379.0,54.0,26.0,28.0,254.444444,0.0,5.0,0.0,8446.0,...,0.301887,15.0,0.0,0.0,4.173015,S4,T2,117.50.163.6,2021.10.28 16:36:00,103.40.13.205
4,1,6379.0,54.0,26.0,28.0,254.444444,0.0,5.0,0.0,8446.0,...,0.301887,15.0,0.0,0.0,4.173015,S4,T2,117.50.163.6,2021.10.28 16:36:00,103.40.13.205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7247,1,6379.0,54.0,26.0,28.0,487.740741,0.0,5.0,0.0,19880.0,...,0.301887,15.0,0.0,0.0,4.173015,S4,T2,106.13.12.219,2021.12.07 01:37:39,61.132.13.108
7248,1,6379.0,54.0,26.0,28.0,307.166667,0.0,5.0,0.0,10922.0,...,0.320755,15.0,0.0,0.0,4.180135,S4,T2,221.195.40.137,2021.12.07 03:45:17,61.132.13.108
7249,1,6379.0,54.0,26.0,28.0,307.166667,0.0,5.0,0.0,10922.0,...,0.320755,15.0,0.0,0.0,4.180135,S4,T2,221.195.40.137,2021.12.07 03:45:17,61.132.13.108
7250,1,6379.0,56.0,26.0,30.0,234.446429,0.0,5.0,0.0,6449.0,...,0.327273,16.0,0.0,0.0,4.583802,S21,T2,36.41.77.129,2021.12.07 02:18:59,61.132.13.108
7251,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_raw = df_raw.dropna()
df_raw = df_raw.astype({"0":float,"19":"category"})
df_raw['label'] = LabelEncoder().fit_transform(df_raw['19'])
del df_raw['19']
del df_raw['20']
del df_raw['21']
del df_raw['22']
del df_raw['23']
X = df_raw
y = df_raw['label']
df_raw

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,label
0,1.0,5555.0,1.0,1.0,0.0,799.000000,0.0,799.0,0.0,799.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,3
1,1.0,6379.0,54.0,26.0,28.0,490.592593,0.0,5.0,0.0,19902.0,0.0,7.446714e+06,0.0,16.0,0.301887,15.0,0.0,0.0,4.173015,10
2,1.0,6379.0,54.0,26.0,28.0,490.592593,0.0,5.0,0.0,19902.0,0.0,7.446714e+06,0.0,16.0,0.301887,15.0,0.0,0.0,4.173015,10
3,1.0,6379.0,54.0,26.0,28.0,254.444444,0.0,5.0,0.0,8446.0,0.0,1.382390e+06,0.0,16.0,0.301887,15.0,0.0,0.0,4.173015,10
4,1.0,6379.0,54.0,26.0,28.0,254.444444,0.0,5.0,0.0,8446.0,0.0,1.382390e+06,0.0,16.0,0.301887,15.0,0.0,0.0,4.173015,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7246,1.0,6379.0,54.0,26.0,28.0,487.740741,0.0,5.0,0.0,19880.0,0.0,7.409359e+06,0.0,16.0,0.301887,15.0,0.0,0.0,4.173015,10
7247,1.0,6379.0,54.0,26.0,28.0,487.740741,0.0,5.0,0.0,19880.0,0.0,7.409359e+06,0.0,16.0,0.301887,15.0,0.0,0.0,4.173015,10
7248,1.0,6379.0,54.0,26.0,28.0,307.166667,0.0,5.0,0.0,10922.0,0.0,2.332918e+06,0.0,17.0,0.320755,15.0,0.0,0.0,4.180135,10
7249,1.0,6379.0,54.0,26.0,28.0,307.166667,0.0,5.0,0.0,10922.0,0.0,2.332918e+06,0.0,17.0,0.320755,15.0,0.0,0.0,4.180135,10
7250,1.0,6379.0,56.0,26.0,30.0,234.446429,0.0,5.0,0.0,6449.0,0.0,9.092087e+05,0.0,18.0,0.327273,16.0,0.0,0.0,4.583802,7

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [24]:
Train(X_train)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
begin train  bayes
naivebayes Model Build progress: |

/data/env/ai/lib/python3.8/site-packages/h2o/estimators/estimator_base.py:206: RuntimeWarning: Dropping bad and constant columns: [0, 8, 12, 6, 10]
  warnings.warn(mesg["message"], RuntimeWarning)

███████████████████████████████████████████████| (done) 100%
end train  bayes
begin train  glm
glm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
end train  glm
begin train  rf
drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
end train  rf
begin train  gbm
gbm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
end train  gbm
begin train  xgboost
xgboost Model Build progress: |██████████████████████████████████████████████████| (done) 100%
end train  xgboost
begin train  ann
deeplearning Model Build progress: |█████████████████████████████████████████████| (done) 100%
end train  ann

In [12]:
def Predict( df_all ):
    df_h2o = h2o.H2OFrame(df_all)
    x = df_h2o.columns
    y = "label"
    x.remove(y)
    df_h2o[y] = df_h2o[y].asfactor()
    ret = {}
    for key in m_models:
        pred = m_models[key].predict(df_h2o).as_data_frame()
        y_true = df_all[y].to_list()
        y_pred = pred['predict']
        ret[key] = {}
        ret[key]['y_pred'] = y_pred.to_list()
        ret[key]['y_true'] = y_true
    return ret

In [13]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score, precision_score, recall_score, f1_score
result = Predict(X_test)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
naivebayes prediction progress: |████████████████████████████████████████████████| (done) 100%
glm prediction progress: |███████████████████████████████████████████████████████| (done) 100%
drf prediction progress: |███████████████████████████████████████████████████████| (done) 100%
gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%
xgboost prediction progress: |███████████████████████████████████████████████████| (done) 100%
deeplearning prediction progress: |██████████████████████████████████████████████| (done) 100%

In [14]:
all_result = []
for model in result.keys():
    y_pred = result[model]['y_pred']
    y_true = result[model]['y_true']
    tmp = {}
    tmp['model'] = model
    tmp['acccuracy'] = accuracy_score(y_true,y_pred)
    tmp['precision'] = precision_score(y_true,y_pred,average="weighted")
    #tmp['recall'] = recall_score(y_true,y_pred,average="weighted")
    tmp['f1_score'] = f1_score(y_true,y_pred,average="weighted")
    all_result.append(tmp)
df_result = pd.DataFrame(all_result)

/data/env/ai/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/data/env/ai/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/data/env/ai/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [15]:
df_result.to_csv("./result.csv")
df_result

     model  acccuracy  precision  f1_score
0    bayes   0.140593   0.282731  0.066902
1      glm   0.716747   0.548235  0.611802
2       rf   0.940041   0.941378  0.934401
3      gbm   0.932460   0.928408  0.927356
4  xgboost   0.961406   0.960374  0.959698
5      ann   0.787043   0.721210  0.718183